name: Build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: '1.24'

      - run: make

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
