name: Build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - run: make

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: latest
